%h1 Unlocked Classes

%table
  %tr
    %th Killed
  - @unlocked_classes.each do |unlocked_class|
    %tr
      %td= unlocked_class.killed
      %td= unlocked_class.unknown01
      %td= unlocked_class.unknown02
      %td= unlocked_class.unknown03
      %td= unlocked_class.unknown04
      %td= unlocked_class.unknown05
      %td= unlocked_class.unknown06