%li[character]
  %table.character
    %tr.names
      %td== #{cs character.name} / #{cs character.class_name}
    %tr
      %td.stats= render character.stats
      %td.items
        %ul= render character.items
    %tr
      %td= link_to 'Edit', edit_character_path(character)