%h1 Edit Character:
- semantic_form_for @character do |f|
  - f.inputs do
    = f.input :name
    = f.input :class_name
    -# experience/level (TODO: calculate level from exp)
    = f.input :experience
    = f.input :mana
    = f.input :felonies_total
    = f.input :felonies_displayed
  - f.semantic_fields_for :naked_stats,@character.naked_stats do |ff|
    - ff.inputs :label => 'Naked stats' do
      = ff.input :hp
      = ff.input :sp
      = ff.input :atk
      = ff.input :def
      = ff.input :int
      = ff.input :res
      = ff.input :hit
      = ff.input :spd
  - f.inputs do
    %li= link_to 'Edit weapon skills', character_weapon_skills_path(f.object)
  - f.buttons do
    = f.commit_button