%h1 Edit Character:
- semantic_form_for @character do |f|
  - f.inputs do
    = f.input :name
    = f.input :class_name
    -# experience/level (TODO: calculate level from exp)
    = f.input :experience
    = f.input :mana
    = f.input :felonies_total
    = f.input :felonies_displayed
    
  - f.inputs :name => 'Class/Appearance' do |ff|
    = f.input :class_id, :as => :select, :collection => Character::CLASS_IDS.invert
    = f.input :class_rank
    = f.input :rank_colour
    = f.input :class_id_unknown
    
  - f.inputs :name => 'Naked stats', :for => [:naked_stats,@character.naked_stats] do |ff|
    %p Stats without equipment, etc.
    = render 'stats/edit', :form => ff
    
  - f.inputs :name => 'Basic stats', :for => [:basic_stats,@character.basic_stats] do |ff|
    %p Set during character creation/reincarnation, used as the basis for stat gains on level up.
    = render 'stats/edit', :form => ff
    
  - f.inputs :name => 'Base elemental stats', :for => [:base_element_stats,@character.base_element_stats] do |ff|
    = render 'elemental_stats/edit', :form => ff
    
  - f.inputs :name => 'Misc.' do |ff|
    = f.input :base_mv
    = f.input :base_jmp
    = f.input :base_counter
    = f.input :flying_movement, :as => :boolean
    = f.input :magichange_2, :as => :boolean
    = f.input :gender, :as => :radio, :collection => Character::GENDERS.invert
    
  - f.inputs :name => 'Weapon mastery', :for => [:weapon_mastery,@character.weapon_mastery] do |ff|
    = render 'weapon_mastery/edit', :form => ff
    
  - f.inputs :name => 'Base weapon grade', :for => [:base_weapon_grade,@character.base_weapon_grade] do |ff|
    = render 'weapon_mastery/edit', :form => ff
    
  - f.inputs :name => 'Items' do |ff|
    - @character.items.each do |item|
      %li= link_to item.name, edit_character_item_path(f.object,item)
    
  - f.inputs do
    %li= link_to 'Edit weapon skills', character_weapon_skills_path(f.object)
    
  - f.buttons do
    = f.commit_button