%table.stats{:border => 1}
  %tr.hp
    %th HP
    %td{:colspan => 3}= stats.hp
  %tr.sp
    %th SP
    %td{:colspan => 3}= stats.sp
  %tr
    %th ATK
    %td= stats.atk
    %th DEF
    %td= stats.def
  %tr
    %th INT
    %td= stats.int
    %th RES
    %td= stats.res
  %tr
    %th HIT
    %td= stats.hit
    %th SPD
    %td= stats.spd