- #team attack animation: drop in from the top, left to right. pause. left 2 part left, right 2 part right
!!!
%html
  %head
    %title Disgaea 2 Save Editor
    = stylesheet_link_tag 'compiled/application'
  %body
    - if flash.size > 0
      #flashes
        - flash.each_pair do |key,value|
          #flash{:id => key}= value
    = render 'shared/navigation'
    #save_storage_menu
      - if current_save_storage
        == Editing save id #{current_save_storage.id}
      = link_to 'Edit a new save', save_storages_path
      - if current_save_storage
        = link_to 'Download edited save', save_storage_path(current_save_storage)
    = yield
  #footer
    %hr
    #source_code= link_to 'Source code', 'http://github.com/lmc/disgaea-2-save-editor/'
    #report_bugs= link_to 'Report a bug', 'http://github.com/lmc/disgaea-2-save-editor/issues'
    %pre
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
      EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
      OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
      NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
      HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
      WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
      OTHER DEALINGS IN THE SOFTWARE.